<!DOCTYPE html>
<html>

<head>
    <title>Account Deletion - {{nooriescornerApp.name}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        p {
            margin-bottom: 15px;
            line-height: 1.5;
        }

        a {
            color: #0066cc;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .logo {
            text-align: center;
            margin-bottom: 20px;
        }

        .logo img {
            max-width: 100%;
        }

        .signature {
            margin-top: 30px;
            text-align: center;
            color: #777;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="{{nooriescornerApp.logo}}" alt="Logo">
        </div>

        <p>Dear {{username}},</p>

        <p>We are sorry to hear that you have chosen to delete your account on {{nooriescornerApp.name}}. We want to
            confirm that your account deletion request has been received and processed.</p>

        <p>Please note that this action is irreversible, and all your account data, including your purchase history,
            saved items, and personal information, have been permanently deleted from our system.</p>

        <p>If you did not initiate this account deletion request, or if you have changed your mind, please contact our
            customer support team immediately at <a
                href="mailto:{{nooriescornerApp.email}}">{{nooriescornerApp.email}}</a>. We will be happy to assist you
            and help resolve any concerns or issues.</p>

        <p>We appreciate your past support and hope to see you again in the future. If you decide to rejoin our
            community, please feel free to create a new account at any time.</p>

        <p>Thank you for being a part of {{nooriescornerApp.name}}. We wish you all the best in your future endeavors.
        </p>

        <p class="signature">Best regards,<br>{{nooriescornerApp.name}} Team</p>
    </div>
</body>

</html>